@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.
<br /><br />

<u>If on TabbedPages:</u><br />
This page uses MAUI TabbedPage and Blazor navigation doesn't work. Neither <code>NavigationManager</code> nor <code>NavLink</code>
<br />Examples on Counter page<br />
<br />
<u>If on pushed  Blazor webview:</u>
<br />
Counter page button pops out of page and back to first
