@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.


This page uses MAUI TabbedPage and Blazor navigation doesn't work. Neither <code>NavigationManager</code> nor <code>NavLink</code>
<br />Examples on Counter page

