@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <MoreNavMenu />
    </div>

    <main>
        <div class="top-row px-4">
           COPYYYY
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
